media
static/ckeditor
static/admin

db.sqlite3

index.wsgi


local_settings.py
secret_key.py


node_modules
env
venv
.idea
.vscode

**/__pycache__
**/migrations
static/admin_volt
.bash_history
.cache
.ssh
.vscode-server
.wget-hsts
debug.log