<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Бриф от {{org}}</title>
</head>
<body>
    <p><b>ФИО: </b>{{name}}</p> 
    <p><b>Организация: </b>{{org}}</p>
    <p><b>Почта: </b>{{email}}</p>
    <p><b>Телефон: </b>{{phone}}</p>
    <p><b>Предполагаемый URL адрес сайта: </b>{{url}}</p>
    <p><b>Примерный бюджет: </b>{{byudzhet}}</p>
    <p><b>Желаемые сроки: </b>{{sroki}}</p>
    <p><b>Область деятельности и направления бизнеса: </b>{{napravlenie}}</p>
    <p><b>Миссия, цели: </b>{{missiya}}</p>
    <p><b>Преимущества: </b>{{preimushchestva}}</p>
    <p><b>Конкуренты: </b>{{konkurenty}}</p>
    <p><b>Какие задачи должен решать ваш будущий сайт: </b>{{celi}}</p>
    <p><b>Чем сайт будет полезен вашим клиентам: </b>{{polezen}}</p>
    <p><b>Какие действия должен совершить посетитель на сайте: </b>{{dejstviya}}</p>
    <p><b>Разделы, которые будут присутствовать на сайте: </b></p>
    <ul>
        {% for r in razdely %}
        <li>{{ r }}</li>
        {% endfor %}
    </ul>
    {% if magazin != '' %}
        <p><b> Разделы интернет-магазина: </b></p>
        <ul>
            {% for m in magazin %}
            <li>{{ m }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <p><b>Средства взаимодействия с пользователями: </b></p>
    <ul>
        {% for s in sredstva %}
        <li>{{ s }}</li>
        {% endfor %}
    </ul>
    <p><b>Важные информационные блоки и элементы на сайте: </b>{{ bloki }}</p>
    <p><b>Ссылки на сайты, которые нравятся: </b>{{ssylki}}</p>
    <p><b>Необходима разработка дизайна с нуля (индивидуальное решение), 
        или возможна разработка сайта на основе готового дизайна на выбор: </b>{{dizajn}}</p>
    <p><b>Необходимо ли разрабатывать дизайн мобильной версии сайта: </b>{{mobilnaya}}</p>
    <p><b>Яркость оформления дизайна: </b>{{yarkost}}</p>
    <p><b>Желаемый стиль дизайна сайта: </b>{{stil}}</p>
    <p><b>Желаемая общяя композиция сайта: </b>{{kompoziciya}}</p>
    <p><b>Какие цвета хотели бы использовать в дизайне сайта: </b>{{cveta}}</p>
    <p><b>Дополнительные требования к дизайну или сайту в целом: </b>{{trebovaniya}}</p>
   


</body>
</html>